@page "/testpage"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@attribute [Authorize]
@inject HttpClient _http

<h3>TestPage</h3>

<h4>@item.Name - @item.Age</h4>

@code {
    TestModel item = new("Puste", 0);

    protected override async Task OnInitializedAsync()
    {
        try
        {
            item = await _http.GetFromJsonAsync<TestModel>("api/Test");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
